__pycache__
.vscode
.security_token

dataset/
output_dir/
evaluation_tools/evaluation_results/best_models/*.pth
evaluation_tools/evaluation_results/full_evaluation_results/*/*
evaluation_tools/evaluation_results/neuron_model_responses/*.pth
evaluation_tools/evaluation_results/histograms/*.pkl
evaluation_tools/evaluation_results_old/*
wandb/*
.wandb_api_key.sh
.wandb_api_key
metacentrum_scripts/prepared_jobs/*
thesis_results/
