__pycache__
.vscode
.security_token

dataset/
output_dir/
evaluation_tools/evaluation_results/best_models/*.pth
evaluation_tools/evaluation_results/full_evaluation_results/*/*
evaluation_tools/evaluation_results/neuron_model_responses/*.pth
evaluation_tools/evaluation_results/evaluation_analysis/*.pkl
evaluation_tools/evaluation_results/full_dataset_analysis/*.pkl
evaluation_tools/evaluation_results/subset_dataset_analysis/*.pkl
wandb/*
.wandb_api_key.sh
.wandb_api_key
metacentrum_scripts/prepared_jobs/*
thesis_results/
Luca_examples/
analysis_results/
thesis_plots
TODO.md
useful_commands.md
working_log.md

conference_plots/orient_plots/
conference_plots/plots/
conference_plots/poster/
conference_plots/selected_results/
conference_plots/
dataset_export/