anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
Brotli
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
defusedxml
distlib
docker-pycreds
exceptiongroup
executing
fastjsonschema
filelock
fonttools
gitdb
GitPython
gmpy2
idna
importlib-metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pbr
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
pooch
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
seaborn
Send2Trash
sentry-sdk
setproctitle
six
smmap
sniffio
soupsieve
stack-data
stevedore
sympy
terminado
tinycss2
tomli
torch
torchaudio
torchsummary
torchvision
tornado
tqdm
traitlets
types-tqdm
typing_extensions
tzdata
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
wandb
wcwidth
webencodings
websocket-client
zipp
